<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adventuregame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dining"
            android:label="@string/title_activity_dining"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Porch"
            android:label="@string/title_activity_porch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gate"
            android:label="@string/title_activity_gate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GraveYard"
            android:label="@string/title_activity_grave_yard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Foyer"
            android:label="@string/title_activity_foyer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>